@charset "UTF-8";
/*
enPiT-Pro
*/

.pc-only{}
.sm-only{ display:none;}

html,body{ magin:0; padding: 0;}
body{ min-width:1100px; position: relative; 

}
body{ 
  background: #fffffd; 
  background: -moz-linear-gradient(top, #fffffd 0%, #fffffb 45%, #fffdf7 100%); 
  background: -webkit-linear-gradient(top, #fffffd 0%,#fffffb 45%,#fffdf7 100%); /*fffdf7*/
  background: linear-gradient(to bottom, #fffffd 0%,#fffffb 45%,#fffdf7 100%); 
}

.hc{ margin: 0; padding: 1.0em 0;}
.hc *{ margin-top:0;}
.hc:after { content:""; display:block; clear:both;}

.hc .mb{ position:relative;}
.hc .logo{ float: left;}
.hc .text{ font-size:93%; font-weight: bold; position: absolute; top: 10px; left: 120px;}
.hc .search{ float: right; padding-top: 8px;}
.hc .search form{ position:relative;}
.hc .search input{ width:120px; font-size:86%; padding: 0.2em 0.5em; border: solid 2px #D35D54;}
.hc .search i{ position:absolute; top: 6px; right: 7px;}

.gm{ font-size:93%; padding: 10px 0 0 0; margin-left: 2.0em; position: absolute; top: 0; right:140px;}
.gm li{ float:left; margin-left: 1.5em;}
.gm li:first-child{ margin-left:0;}
.gm li a{ display: block; color:#4d4d4d; text-decoration: none; position: relative;}
.gm li a:after{ display:block; content:""; width:90%; height: 3px; background:#F29600; opacity: 0.3; position: absolute; margin: 0 auto; left: 0; right: 0; bottom: -5px;
  transition: opacity 0.5s linear;
}
.gm li a.active:after,.gm li a:hover:after{  opacity: 1.0;}
.gm:after { content:""; display:block; clear:both;}

.mb{ margin:0 auto; padding: 0; width:1100px;}
.mb.mb-narrow{ width:980px;}
.mb:after { content:""; display:block; clear:both;}

.fc{ margin-top: 2.0em; line-height: 1.5;}
.fc *{ margin-top:0;}
.fc .fc-image img{ display:block;}
.fc .fc01{ margin: 0; padding: 0.7em 0; background: #F29600; color: #FFFFFF; text-align: center; }
.fc .copyright{ text-align:center; font-size:86%;}

.underConstruct{ text-align:center; padding: 100px 0 50px 0;}


/* margin */
.m00{ margin-top:0;}
.m20{ margin-top:1.0em !important;}
.m40{ margin-top:2.0em !important;}
.m60{ margin-top:3.0em !important;}

/* font */
.size16{ font-size:114%;}
.size18{ font-size:129%;}
.size20{ font-size:143%;}
.size24{ font-size:172%;}

/* title */
.page-title{ width: 1100px; margin-left: auto; margin-right: auto; background: #F29600; color: #FFFFFF; font-size:122%; padding: 10px 1.0em 4px 1.0em; position: relative; line-height: 1.5;}
.page-title::after{ content:""; width: 100%; height: 4px; background: #FFFFFF; position: absolute; top: 3px; left: 0;}
.hc + .page-title{ margin-top:0;}
.section-title{ background:#F29600; text-align:center; font-size:193%; line-height: 1.3; }
.section-title span{ display:inline-block; background: #FFFFFF; letter-spacing: 1.0em; padding: 0 0 0 1.0em; line-height: 1.4; font-family: 'Mplus 1p'; font-weight: 600; color:#727171;}


/* column div */
.col{ margin-top:0; }
.col>*{ margin-top:0; }
.col02{ margin-left:-4%; padding:0;}
.col02>*{ margin-left:4%; float:left; width:46%;}
.col03{ margin-left:-2%; padding:0;}
.col03>*{ margin-left:2%; float:left; width:31.33%;}
.col04{ margin-left:-2%; padding:0;}
.col04>*{ margin-left:2%; float:left; width:23%;}
.col05{ margin-left:-2%; padding:0;}
.col05>*{ margin-left:2%; float:left; width:18%;}
.col06{ margin-left:-2%; padding:0;}
.col06>*{ margin-left:2%; float:left; width:14.66%;}


.col12{ margin-left:-2%; padding: 0;}
.col12>*:nth-child(2n+1){ margin-left:2%; float:left; width:32%;}
.col12>*:nth-child(2n){ margin-left:2%; float:left; width:64%;}
.col21{ margin-left:-2%; padding: 0;}
.col21>*:nth-child(2n){ margin-left:2%; float:left; width:32%;}
.col21>*:nth-child(2n+1){ margin-left:2%; float:left; width:64%;}

.col13{ margin-left:-2%; padding: 0;}
.col13>*:nth-child(2n+1){ margin-left:2%; float:left; width:24%;}
.col13>*:nth-child(2n){ margin-left:2%; float:left; width:72%;}
.col31{ margin-left:-2%; padding: 0;}
.col31>*:nth-child(2n+1){ margin-left:2%; float:left; width:72%;}
.col31>*:nth-child(2n){ margin-left:2%; float:left; width:24%;}

.col02>*:nth-child(2n+1),
.col12>*:nth-child(2n+1),
.col21>*:nth-child(2n+1),
.col13>*:nth-child(2n+1),
.col31>*:nth-child(2n+1){ clear:left;}
.col03>*:nth-child(3n+1){ clear:left;}
.col04>*:nth-child(4n+1){ clear:left;}
.col05>*:nth-child(5n+1){ clear:left;}
.col06>*:nth-child(6n+1){ clear:left;}

.col:after { content:""; display:block; clear:both;}


.smcol,
.smcol02,
.smcol03,
.smcol04,
.smcol05,
.smcol06,
.smcol07,
.smcol08{ /* smart */ }